<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <pipelines>
            <renderContentEditorHeader>
                <processor type="DowntimeNotification.Pipelines.RenderContentEditorHeader.GetDowntimeNotificationProcessor, DowntimeNotification"/>
            </renderContentEditorHeader>
            <group name="ExperienceEditor" groupName="ExperienceEditor" patch:source="Spe.config">
                <pipelines>
                    <getPageEditorNotifications>
                        <processor type="DowntimeNotification.Pipelines.GetPageEditorNotifications.GetDowntimeNotification, DowntimeNotification"/>
                    </getPageEditorNotifications>
                </pipelines>
            </group>
        </pipelines>
    </sitecore>
</configuration>