<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
      <commands>
          <command name="notification:enabledowntime" type="DowntimeNotification.Commands.TriggerDowntimeNotification,DowntimeNotification">
              <commandItems hint="list:AddCommandItem">
                  <commandItem>F6C66AAF-7AEF-4877-98FD-E955A2F5274A</commandItem>
              </commandItems>
          </command>
          <command name="notification:disabledowntime" type="DowntimeNotification.Commands.DisableDowntimeNotification,DowntimeNotification">
              <commandItems hint="list:AddCommandItem">
                  <commandItem>E0EF1DE3-EEE3-48B7-8A01-92A124746857</commandItem>
              </commandItems>
          </command>
      </commands>
      <pipelines>
          <renderContentEditorHeader>
              <processor type="DowntimeNotification.Pipelines.RenderContentEditorHeader.GetDowntimeNotificationProcessor, DowntimeNotification"/>
          </renderContentEditorHeader>
          <group name="ExperienceEditor" groupName="ExperienceEditor">
              <pipelines>
                  <getPageEditorNotifications>
                      <processor type="DowntimeNotification.Pipelines.GetPageEditorNotifications.GetDowntimeNotification, DowntimeNotification"/>
                  </getPageEditorNotifications>
              </pipelines>
          </group>
      </pipelines>
  </sitecore>
</configuration>
